<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="Curso de Vue 2">
  <meta name="author" content="https://styde.net">
  <link rel="icon" href="favicon.ico">

  <title>Curso de Vue 2 - Styde.net</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <link href="style.css" rel="stylesheet">
</head>

<body>
  <div id="app" class="container">
    <h2>Tareas</h2>

    <ul class="list-group tasks">
      <template v-for="(tarea, index) in tareas">
        <li class="list-group-item" 
            :class="{editing: tarea.editando, completed: !tarea.pendiente}">
          <a @click="estatusTarea(tarea)">
            <app-icon :img="tarea.pendiente ? 'unchecked' : 'check'" aria-hidden="true"></app-icon>
          </a>

          <template v-if="!tarea.editando">
            <span class="description">{{ tarea.descripcion }}</span>

            <div>
              <a @click="editarTarea(tarea)">
                <app-icon img="edit"></app-icon>
              </a>
              <a @click="eliminarTarea(index)">
                <app-icon img="trash"></app-icon>
              </a>
            </div>
          </template>
          
          <template v-else>
            <input type="text" v-model="borrador">

            <div>
              <a @click="actualizarTarea(tarea)">
                <app-icon img="ok"></app-icon>
              </a>
              <a @click="descartarTarea(tarea)">
                <app-icon img="remove"></app-icon>
              </a>
            </div>
          </template>
        </li>
      </template>
    </ul>

    <p><a @click="eliminarCompletadas">Eliminar tareas completadas</a></p>

    <form @submit.prevent="agregarTarea" class="new-task-form">
      <input v-model="tarea" type="text" class="form-control">
      <button class="btn btn-primary">Crear tarea</button>
    </form>

    <footer class="footer">
      <p>&copy; 2021 DevAntonio.com</p>
    </footer>
  </div>

  <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
  <script src="app.js"></script>
</body>

</html>